.banner__horario, .banner__ubicacion, .servicios__article1, .equipo__section1__article1, .equipo__section1__article2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.banner a:hover {
  box-shadow: 0 0 10px #131313, 0 0 30px #131313, 0 0 60px #131313;
  transition-delay: .1s; }

* {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  background-color: #111111;
  font-family: "Montserrat", sans-serif; }

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%; }
  .header__imagen {
    margin-top: -76px;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .header__imagen::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      filter: brightness(0.2);
      background-image: url(../../imagenes/barber.jpeg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .header__imagen__h1 {
      position: relative;
      z-index: 2;
      color: #fff;
      font-family: "Rochester", cursive;
      font-size: 4rem;
      animation-name: aparecer;
      animation-duration: 1.5s;
      animation-iteration-count: 1;
      animation-timing-function: ease-in; }

@keyframes aparecer {
  0% {
    transform: translateY(-1000px); }
  50% {
    transform: translateY(-500px); }
  75% {
    transform: translateY(0px); } }
    .header__imagen__p {
      position: relative;
      z-index: 1;
      color: #fff;
      font-family: "Montserrat", sans-serif;
      font-size: 1rem;
      font-weight: 400;
      color: #80421B;
      text-shadow: 20px 0px 15px black, -20px 0px 15px black;
      animation-name: aparecer;
      animation-duration: 1s;
      animation-iteration-count: 1;
      animation-timing-function: ease-in; }
  .header__navbar__logo {
    width: 50px;
    border-radius: 50%; }

.navbar-nav {
  position: relative;
  z-index: 2; }

.navbar-dark .navbar-nav .nav-link {
  margin: 5px; }
  .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:active {
    border-bottom: solid 1px #acacac;
    padding-top: 5px; }

.navbar-brand {
  position: relative;
  z-index: 2; }

.navbar-toggler {
  position: relative;
  z-index: 2; }

@media only screen and (max-width: 991px) {
  .header__imagen {
    margin-top: 0; } }

.videos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 600px; }
  @media only screen and (max-width: 991px) {
    .videos {
      height: 950px; } }
  @media only screen and (max-width: 822px) {
    .videos {
      height: 1400px; } }
  .videos h2 {
    margin-top: 50px;
    font-weight: 100;
    font-size: 2.5rem;
    color: #acacac;
    border-bottom: solid 1px #80421B; }
  .videos__articulo {
    margin: 20px;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap; }
    @media only screen and (max-width: 822px) {
      .videos__articulo {
        flex-direction: column;
        flex-wrap: nowrap;
        margin-top: 10px;
        align-items: center;
        height: 90%; } }
    .videos__articulo__video {
      width: 300px;
      object-fit: cover;
      height: 400px;
      margin: 15px; }
      .videos__articulo__video:hover {
        transform: scale(1.1); }

.somos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 600px;
  box-shadow: 15px 10px 30px  #000; }
  .somos__article2 {
    width: 50%; }
    .somos__article2__p {
      color: #acacac;
      width: 100%;
      padding: 10px;
      margin-right: 20px;
      font-size: 1rem; }
    .somos__article2__h2 {
      margin-left: 10px;
      color: #acacac;
      border-bottom: 1px solid #80421B; }
  .somos__article {
    width: 50%; }
    .somos__article__img {
      width: 100%;
      padding: 20px; }

.banner {
  height: 150px;
  width: 100%;
  margin-top: 50px;
  background-color: #80421B;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; }
  .banner p {
    color: #fff;
    font-size: 1rem; }
  .banner a {
    text-decoration: none;
    padding: 10px;
    background-color: #111111;
    color: #fff;
    text-align: end;
    margin-top: 80px; }
    .banner a:hover {
      color: #acacac; }
  .banner__fas {
    color: #fff;
    font-size: 2rem; }

.servicios {
  margin-top: 100px;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: row; }
  .servicios__article1 {
    width: 50%;
    padding: 20px; }
    .servicios__article1 h2 {
      color: #acacac; }
    .servicios__article1 p {
      color: #acacac;
      padding: 40px; }
    .servicios__article1__boton {
      text-decoration: none;
      padding: 10px;
      background-color: #80421B;
      color: #fff; }
      .servicios__article1__boton:hover {
        box-shadow: 0 0 10px #80421B, 0 0 30px #80421B, 0r 0 60px #80421B;
        transition-delay: .1s;
        color: #acacac; }
  .servicios__article2 {
    width: 50%;
    display: flex;
    flex-direction: column; }
    .servicios__article2__cont {
      height: 50px;
      width: 50px;
      padding: 10px;
      border-radius: 50%;
      border: solid 1px grey;
      margin-top: 50px; }

.equipo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1000px; }
  .equipo__section1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: #fff; }
    .equipo__section1__article1 {
      width: 50%;
      height: 100%; }
      .equipo__section1__article1__h2 {
        color: #111111;
        font-size: 2.5rem;
        font-weight: 100; }
      .equipo__section1__article1 .contenedor__img {
        height: 300px;
        width: 500px; }
      .equipo__section1__article1__img {
        object-fit: cover;
        width: 100%;
        height: 100%; }
    .equipo__section1__article2 {
      width: 50%;
      height: 100%; }
      .equipo__section1__article2__p {
        padding: 15px;
        color: #acacac; }
