%flex-columnCenter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
$font-Titulo: 'Rochester', cursive;
$font-Texto:  'Montserrat', sans-serif;

$tamaños:(
    titulos:4rem,
    subtitulos:2.5rem,
    texto:1rem,
);

$paleta:(
 blanco:#fff,
 negro:#111111,
 texto:#acacac,
 resalta:#80421B,

); 
%hoverNeon{
    box-shadow: 0 0 10px #131313, 0 0 30px #131313, 0 0 60px #131313;
    transition-delay: .1s;

}





@mixin mediaquerydesktop{
    @media only screen and (max-width:991px){
        @content;
    }
}
@mixin mediaquerytablet{
    @media only screen and (max-width:822px){
        @content;
    }
}

@mixin mediaquerymobile{
    @media only screen and (max-width:576px){
        @content;
    }
}
