


.videos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 600px;
    @include mediaquerydesktop{
        height: 950px;
    }
    @include mediaquerytablet{
        height: 1400px;
    
    }
    h2{
        margin-top: 50px;
        font-weight: 100;
        font-size: map-get($tamaños, subtitulos );
        color: map-get($paleta, texto);
       border-bottom: solid 1px map-get($paleta, resalta );
       
    }
    &__articulo{
       margin: 20px;
       width: 100%;
       height: 80%;
       display: flex;
       flex-direction: row;
       justify-content: space-around;
       flex-wrap: wrap;
       @include mediaquerytablet{
         flex-direction: column;
         flex-wrap: nowrap;
         margin-top: 10px;
         align-items: center;
         height: 90%;
       }
       &__video{
           width: 300px;
           object-fit: cover;
           height: 400px;
           margin: 15px;
           &:hover{
               transform: scale(1.1);
           }
       }
      

    }
}
.somos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
    box-shadow: 15px 10px 30px  #000;
    
  
    &__article2{
        width: 50%;
        &__p{
        color: map-get($paleta, texto );
        width: 100%;
        padding: 10px;
        margin-right: 20px;
        font-size: map-get($tamaños, texto);
        }
        &__h2{
            margin-left: 10px;
            color: map-get($paleta, texto );

            border-bottom:1px solid #80421B;

        }
    }
    &__article{
      width: 50%;
      &__img{
        width:100%;
        padding: 20px;
      }
    }
}
.banner{
    height: 150px;
    width: 100%;
    margin-top: 50px;
    background-color: map-get($paleta, resalta);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    p{
        color: map-get($paleta, blanco );
        font-size: map-get($tamaños, texto)
    }
    a{
        text-decoration: none;
        padding:10px;
        background-color: map-get($paleta, negro );
        color:map-get($paleta, blanco );
        text-align: end;
        margin-top: 80px;
        &:hover{
            @extend %hoverNeon;
            color: map-get($paleta, texto);
        }
    
    }
    &__horario{
        @extend %flex-columnCenter;
    }
    &__ubicacion{
        @extend %flex-columnCenter;
    }
    &__fas{
        color: map-get($paleta, blanco);
        font-size: 2rem;

    }
}
.servicios{
    margin-top: 100px;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    &__article1{
      width: 50%;
      padding: 20px;
      @extend %flex-columnCenter;
      
      h2{
          color: map-get($paleta, texto );
      }
      p{
        color: map-get($paleta, texto );
        padding:40px;
      }
      &__boton{
          text-decoration: none;
          padding: 10px;
          background-color: map-get($paleta, resalta);
          color: map-get($paleta, blanco );
          &:hover{
            box-shadow: 0 0 10px #80421B, 0 0 30px#80421B, 0r 0 60px #80421B;
            transition-delay: .1s;
            color: map-get($paleta, texto);
          }
      }
    }
    &__article2{
        width: 50%;
        display: flex;
        flex-direction: column;
      &__cont{
          height: 50px;
          width: 50px;
          padding: 10px;
          border-radius: 50%;
          border: solid 1px grey;
          margin-top:50px;
      }
    }
    
}
.equipo{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1000px;

    &__section1{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 400px;
        background-color: map-get($paleta, blanco);
       &__article1{
           width: 50%;
           height: 100%;
           @extend %flex-columnCenter;
           &__h2{
               color: map-get($paleta, negro );
               font-size: map-get($tamaños, subtitulos);
               font-weight: 100;
           }
           .contenedor__img{
               height: 300px;
               width: 500px;
           }
           &__img{
               object-fit: cover;
               width: 100%;
               height: 100%
           }
       }
       &__article2{
        @extend %flex-columnCenter;
        width: 50%;
        height:100%;
        &__p{
            padding: 15px;
             color: map-get($paleta, texto );
        }

       }

    }
}